.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-navigationtoggle-icon1 {
  display: block;
  transition: all 0.3s var(--animation-curve-primary);
}
 
.navigation-navigationtoggle-icon2 {
  top: 50%;
  left: 50%;
  display: block;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-90deg) scale(0);
  transition: all 0.3s var(--animation-curve-primary);
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
